$whatsapp-green-primary: #2a8c7e;
$whatsapp-green-light: #77d7c8;
$whatsapp-background: #a9dbd8;
$whatsapp-black: #273443;
$whatsapp-bubble: #e5ffcc;
$whatsapp-white: #F0F4F9;
$true-caller-blue: #3387ff;